<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-uppercase" href="#">{{user_name}}</a>


    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-none">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ação</a>
                    <a class="dropdown-item" href="#">Outra ação</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Algo mais aqui</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-danger ml-auto" href="login.php">Logout</a>
            </li>
        </ul>
        
    </div>
    <a class="btn btn-outline-danger d-none ml-auto" href="login.php">Sair</a>
    <div class="userToggler border btn btn-outline-primary">
        <i class="fa-solid fa-user" ></i>
    </div>
    <div class="userToggler-active d-none">
        <div class="">
            <a class="dropdown-item" href="#">Ação</a>
            <a class="dropdown-item" href="#">Outra ação</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="login.php">Sair</a>
        </div>
    </div>
</nav>

<style>
    .userToggler{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 80px;
        cursor: pointer;
    }
    .userToggler-active{
        background-color: #848484;
        position: absolute;
        top: 53px;
        right: 20px;
        background-color: white;
        transition:2s ;
    }
    nav{
        border-bottom: 4px solid dodgerblue;
    }
</style>

<script>
    $(".userToggler").click(function(){
        if ($(".userToggler-active").hasClass("d-none")) {
            $(".userToggler-active").removeClass("d-none")
            $(".userToggler-active").addClass("d-block")
        }else{
            $(".userToggler-active").removeClass("d-block")
            $(".userToggler-active").addClass("d-none")
        }

    });


</script>
